/* cara menuliskan css 
inline
internal
external */

/* selektor untuk memilih elemen yang akan diterapkan style */
/* property adalah apa yang mau diganti dan value */

/* selektor {
    property : nilai;
    property2 : nilai2;
} */


#text_pendek {
    font-size: medium;
    font-family: sans-serif;
    font-weight: 300;
    width: 50%;
    height: 200px;
    background: yellow;
    max-width: 30%;
    max-height: 30%;
    /* visibility: hidden; */
    /* display: none; */
}

.menu {
    /* height: 50px;
    width: 100px; */
    text-decoration: none;
    display: inline-block;
    padding: 10px 1px 2px 1px;
}

.menu:link {
    background: grey;
    color: blue;
    /* border-width: 3px;
    border-style: solid;
    border-color: black; 
    dashed garis putus-putus*/

    border: 3px solid black;
    /* top right bottom left */
    padding: 10px 1px 2px 1px;
}

/* kondisi biasa */
#menu_web {
    background: grey;
    margin-bottom: 50px;
    margin-left: 50px;
}

/* kondisi setelah dikunjungi */
.menu:visited{
    background: yellow;
}
/* kondisi saat kursor diatas link */
.menu:hover{
    background: blue;
}
/* kondisi diklik */
.menu:active{
    background: black;
}

h1 {
    color: blue;
    text-align: center;
    text-decoration: underline;
    display: inline;
    position: absolute;
    top: 0px;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    display: inline;
}

body {
    /* background-color: #fdfdfd;
    background-image: url("../gambar/rifky.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top; */
    background: #fdfdfd url("../gambar/rifky.jpg") no-repeat fixed center top;
    font-family: sans-serif;
}

#text_panjang {
    text-align: justify;
    text-indent: 30px;
    letter-spacing: 2px;
    line-height: 20px;
    word-spacing: 2px;
}

/* mengatur posisi di css 
1. static
2. relative 
3. absolute
4. fixed */

#menu_kontak{
    position: relative;
    /* top right bottom left */
    top: 3px;
    left: 10px;
}

#h1_kontak {
    position: fixed;
}
 #h1_member {
     color: red;
     position: absolute;
     top: 140px;
     left: 20px;
     z-index: -1;
 }

 #h2_member {
     background: yellow;
     position: fixed;
     top: 100px;
     left: 20px;
 }